@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/Iskry.otf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/Sequel.otf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/Iskry.otf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;
$font-3: "font-3", serif;

$color-1: #d8befe;
$color-2: #d8befe;
$color-3: #292929;
$color-4: #292929;
$color-5: #f6f0ff;
$black: #292929;
$white: #fefffe;
$shadow: rgb(219, 218, 218);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: $color-3;
  color: $color-1;

  &::selection {
    background: $color-1;
    
  }
}




a,
a:visited {
  color: $white;
}
input,
textarea {
  resize: none;
  border-radius: 20px;
  width: 270px;
  font-family: $font-1;
  background: $white;
}
textarea {
  &:focus {
    box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
  }
}
button,
input[type="submit"] {
  background: $color-1;
  color: $black;
  font-family: $font-3;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 20px 6px 20px 20px;

  &:hover {
    background: $color-1;
    color: $white;
  }
}
input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}
i {
  transition: 0.15s;

  &:hover {
    transform: scale(1.1);
  }
}
body {
  font-family: $font-2;
  line-height: 1.4rem;
  background: $white;
  color: $color-3;
}
.error {
  color: $white;
  font-weight: bold;
}
.success {
  color: $color-1 ;
  font-weight: bold;
}
.popup-content {
  background-color: $white;
}

.popup-arrow {
  background-color: $white;

}

input[type=password] {
  &:focus {
    border:solid 3px $color-1;
    background-color: $black;
    color: $white;  
  }  
}

input[type=text] {
  &:focus {
    border:solid 3px $color-1;
    background-color: $black;
    color: $white;  
  }  
}

input[type=email] {
  &:focus {
    border:solid 3px $color-1;
    background-color: $black;
    color: $white;  
  }  
}